<h2>Page heading</h2>
{{#each celebrities}}
<ul>
    <li><a href="/celebrities/{{_id}}">{{this.name}}</a></li>
</ul>
<a href="/celebrities/{{this._id}}/delete">Delete</a>
<a href="/celebrities/{{this._id}}/update">Update</a>
{{/each}}

<a href="/celebrities/new">Add a new celebrity</a>