<h1>Create a celebrity</h1>

<form action="/celebrities/new" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" value="Travis Scott">
    <label for="occupation">Occupation</label>
    <input type="text" name="occupation" value="Rapper">
    <label for="catchPhrase">Catch Phrase</label>
    <input type="text" name="catchPhrase" value="IT'S LIT">
    <button>Create</button>
</form>