<h2>Update a movie</h2>

<form action="/movies/{{_id}}/update" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" value="{{name}}">
    <label for="genre">Genre</label>
    <input type="text" name="genre" value="{{genre}}">
    <label for="plot">Plot</label>
    <input type="text" name="plot" value="{{plot}}">
    <button>Update</button>
</form>